/* Table layout for listing users */
table {
	border-collapse: collapse;
	width: 100%;
}
table th {
	border-bottom: 1px solid #A4A4A4;
	font-weight: 400;
	background-color: #81BEF7;
	height: 2.5em;
}
table tr:nth-child(odd) {
	background: #E6E6E6;
}
table tr:nth-last-child(1) {
	border-bottom: 1px solid #ebebeb;
}
table tr:hover {
	background: #D8D8D8;
	cursor: pointer;
}
td {
	padding: 0.25em .5em;
}
.small_cell {
	width: 4.5em;
	text-align: center;
}
.medium_cell {
	text-align: left; width: 12em;
}
.user_box {
	margin: 18em auto;
	position: fixed;
	padding: 0.5em;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	width: 500px;
	height: 200px;
	background: white;
	border-radius: 0.2em;
	-webkit-border-radius: 0.2em;
-moz-border-radius: 0.2em;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, .9);
}
.box_header {
	padding: 0.5em;
	margin: 0;
	text-align: center;
	font-weight: normal;
	font-size: 130%;
	border-bottom: 2px solid #A4A4A4;
	color: #888
}
button {
	background: -moz-linear-gradient(center top , #EEE 50%, #EEE 100%) repeat scroll 0% 0% transparent;
	border-radius: 5px;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
}
button:hover, input[type=submit]:hover {
	cursor: pointer;
	box-shadow: inset 0px 1px 2px #000;
}
.submit {
	background: -moz-linear-gradient(center top , #4D90FE 50%, #4D90FE 100%) repeat scroll 0% 0% transparent;
	border-radius: 5px;
	float: right;
	position: relative;
	right: 1em;
	top: 4em;
	color: white;
	padding: 0.2em;
}
.cancel {
	float: left;
	position: relative;
	top: 4em;
	left: 1em;
}
.delete {
	background: -moz-linear-gradient(center top , #FE2E2E 50%, #FA5858 100%) repeat scroll 0% 0% transparent;
	border-radius: 5px;
	color: white;
	border: none;
	padding: 0.2em;

}
.status {
	position: relative;
	top: 10px;
	left: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 10px;
	height: 10px;
}
.drop_down {
	padding: 0.25em;
	margin: 1em;
	border: none;
}
.user {
	display: inline;
}
.log_button {
	float: right;
}
.log_button:hover {
	cursor: pointer;
}
.user_log, .log {
	background: white;
	position: fixed;
	margin: 10em auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 90%;
	max-width: 1000px;
	display: none;
	z-index: 100;
	height: 355px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, .9);
}
.log p {
	padding: 0.5em;
	height: 275px;
	overflow-y: auto;
	background: white;
}
.cancel_log {
	position: absolute;
	top: -.5em;
	right: 0.5em;
}
.cancel_log:hover {
	cursor: pointer;
	color: #A4A4A4;
}
.user_log_content {
	height: 300px;
	overflow-y: auto;
}
