.login_box {
	margin: 0px auto;
	width: 290px;
	background: rgb(247,247,247);
	text-align: center;
	padding:  3.75em 2.75em 1.75em 2.75em;
	border-radius: 2px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, .3);
}
.login_input {
	width: calc(100% - 20px);
	border: 1px solid #DBDBDB;
	padding: 12px 9px;
	font-size: 16px;
}
.login_input[name='first_name'] {
	width: calc(50% - 20px);
	float: left;
}
.login_input[name='last_name'] {
	width: calc(50% - 20px);
	float: right;
	border-bottom: none;
}
.login_input:nth-child(odd) {
	border-bottom: 1px solid rgb(247, 247, 247);
}
.login_input:focus {
	border: 1px solid rgb(77, 144, 254);
	box-shadow: inset 0px 0px 2px rgb(0, 0, 0, .3);
}
.login_submit {
	margin-top: 20px;
	background: rgb(77, 144, 254);
	-moz-linear-gradient(center top , rgb(77, 144, 254), rgb(71, 135, 237))
	border: 1px solid rgb(48, 121, 237);
	text-shadow: 0px 1px rgba(0, 0, 0, 0.1);
	width: 80%;
	padding: 10px;
	color: white;
	border: none;
	border-radius: 3px;
	font-size: 100%;
}
.login_submit:hover {
	cursor: pointer;
	background: rgb(57, 124, 234);
}
.h2_title {
	text-align: center;
	color: #6E6E6E;
	font-weight: 200;
}
